# Plantilla de Variables de Entorno
SECRET_KEY=cambia-esta-clave-secreta-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=restaurante_db
POSTGRES_USER=formodev
POSTGRES_PASSWORD=tu_password_aqui
DB_HOST=db
DB_PORT=5432
